/*debug box*/
.ms_debug-box-small{
    height: 50px;
    border: 1px dashed rgb(0, 0, 0);
}

.ms_debug-box-big{
    height: 200px;
    border: 1px dashed rgb(0, 0, 0);
}

/*debug colors*/

.ms_bg-red{
    background-color: red;
}

.ms_bg-green{
    background-color: rgb(0, 255, 64);
}

.ms_bg-blue{
    background-color: rgb(43, 119, 242);
}

.ms_bg-pink{
    background-color: pink;
}

.ms_bg-grey{
    background-color: rgb(193, 193, 193);
}

/*creo palette colori*/

:root{
    --ms_primary-color: #ffffff;
    --ms_secondary-color: #1abc9c;
    --ms_tertiary-color: #2c3e50;
    --ms_tertiary-color-light: #3a546d;
}
.ms_text-color-primary{
    color: var(--ms_primary-color);
}
.ms_bg-color-primary{
    background-color: var(--ms_primary-color);
}

.ms_bg-color-secondary{
    background-color: var(--ms_secondary-color);
}

.ms_bg-color-tertiary{
    background-color: var(--ms_tertiary-color);
}

.ms_bg-color-tertiary-light{
    background-color: var(--ms_tertiary-color-light);
}