.ms_debug-box-small{
    height: 50px;
    border: 1px dashed rgb(0, 0, 0);
}

.ms_debug-box-big{
    height: 200px;
    border: 1px dashed rgb(0, 0, 0);
}

.ms_bg-red{
    background-color: red;
}

.ms_bg-green{
    background-color: rgb(0, 255, 64);
}

.ms_bg-blue{
    background-color: rgb(43, 119, 242);
}

.ms_bg-pink{
    background-color: pink;
}

.ms_bg-grey{
    background-color: rgb(193, 193, 193);
}